@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background-color: rgba(250,250,250,255);
}


/* BANNER AND NAV */
.banner {
  width: 100%;
  height: 300px;

  background-image: url("images/image-hero-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.nav-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 1.25em;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 15px;
  font-size: .75em;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.menu-button {
  display: none;
  background-color: inherit;
  color: white;
  border: none;
  z-index: 2;
}

.menu-button:focus {
  outline: none;
}

.menu-modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(122, 122, 122, 0.4);
  z-index: 1;
}

.modal-list {
  list-style: none;
  background-color: white;
  border-radius: 10px;

  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50%);
  height: 220px;
  width: 90%;
}

.modal-item {
  text-decoration: none;
  border-bottom: 1px solid hsla(0, 0%, 47%, 0.1);
  height: 33%;
  position: relative;
}

.modal-item:last-child {
  border-bottom: none;
}

.modal-item a {
  color: black;
  text-decoration: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.hidden {
  display: none;
}




/* MAIN CONTENT */
.main-container {
  width: 550px;
  margin: 0 auto;

  position: relative;
  top: -75px;

  display: flex;
  flex-direction: column;
}

.content-box {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 40px;
}



/* TITLE SECTION */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  position: relative;
}

.title-icon-container {
  width: 40px;

  position: absolute;
  top: -20px;
}

.title-icon-container img {
  width: 100%;
}

.title-text h1 {
  font-size: 1.25em;
  padding-bottom: 10px;
}

.title-text p {
  font-size: .75em;
  color: rgba(119, 119, 119,0.7);
}

.title-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.title-button {
  height: 50%;
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  background-color: hsl(176, 50%, 47%);
  color: white;
  font-weight: 700;
  font-size: .73em;
}

.title-button:focus {
  outline: none;
}

.bookmark-container {
  position: relative;
}

.bookmark-container img {
  height: 37px;
  position: absolute;
  right: 100%;
  transform: translateX(100%);
}

.bookmark-button {
  height: 50%;
  padding: 12px 15px;
  padding-left: 54px;
  border-radius: 20px;
  border: none;
  color: rgba(92, 91, 91,.7);
  background-color: rgba(244,244,244,255);
  font-weight: 700;
  font-size: .73em;
}

.bookmark-button:focus {
  outline: none;
}



/* Progress SECTION */
.progress {
  height: 175px;
  border: 1px solid green;
}

.about {
  height: 600px;
  border: 1px solid purple;
}





@media only screen and (min-width: 1400px) {
  .banner {
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 450px;
  }
}


/* FOR HOVER STATES */
@media only screen and (min-width: 500px) {
  .menu-button:hover {
    cursor: pointer;
  }

  .title-button:hover {
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
    z-index: 1;
  }

  .bookmark-button:hover {
    cursor: pointer;
  }

  .bookmark-icon:hover, .bookmark-button:hover + .bookmark-icon {
    cursor: pointer;
    opacity: 0.6;
  }
}


/* MOBILE VIEWPORTS */
@media only screen and (max-width: 500px) {
  .banner {
    height: 300px;

    background-image: url("images/image-hero-mobile.jpg");
    background-position: center;
    background-size: cover;
  }

  .logo {
    font-size: 2em;
  }

  .nav-bar {
    padding: 15px 20px;
  }

  .nav-list {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .main-container {
    width: 90%;
  }
}
