@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;300;400;700;900&display=swap');

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background-color: rgba(250,250,250,255);
}


/* BANNER AND NAV */
.banner {
  width: 100%;
  height: 300px;

  background-image: url("images/image-hero-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.nav-bar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 1.25em;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 15px;
  font-size: .75em;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.menu-button {
  display: none;
  background-color: inherit;
  color: white;
  border: none;
  z-index: 2;
}

.menu-button:focus {
  outline: none;
}

.menu-modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(122, 122, 122, 0.4);
  z-index: 1;
}

.modal-list {
  list-style: none;
  background-color: white;
  border-radius: 10px;

  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50%);
  height: 220px;
  width: 90%;

  animation: modalopen .5s ease;
}

.modal-item {
  text-decoration: none;
  border-bottom: 1px solid hsla(0, 0%, 47%, 0.1);
  height: 33%;
  position: relative;
}

.modal-item:last-child {
  border-bottom: none;
}

.modal-item a {
  color: black;
  text-decoration: none;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 20px;
}

.hidden {
  display: none;
}




/* MAIN CONTENT */
.main-container {
  width: 575px;
  margin: 0 auto;

  position: relative;
  top: -75px;

  display: flex;
  flex-direction: column;
}

.content-box {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 33px;
}



/* TITLE SECTION */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  position: relative;
}

.title-icon-container {
  width: 50px;

  position: absolute;
  top: -25px;
}

.title-icon-container img {
  width: 100%;
}

.title-text h1 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

.title-text p {
  font-size: .9rem;
  color: rgba(119, 119, 119,0.7);
}

.title-button-container {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.title-button {
  height: 100%;
  padding: 5px 40px;
  border-radius: 30px;
  border: none;
  background-color: hsl(176, 50%, 47%);
  color: white;
  font-weight: 700;
  font-size: .88em;
}

.title-button:focus {
  outline: none;
}

.bookmark-container {
  position: relative;
  height: 100%;
}

.bookmark-button {
  height: 100%;
  padding: 5px 17px;
  padding-left: 73px;
  border-radius: 30px;
  border: none;
  color: rgba(92, 91, 91,.7);
  background-color: rgba(244,244,244,255);
  font-weight: 700;
  font-size: .88em;
}

.bookmark-button:focus {
  outline: none;
}

.bookmark-icon {
  position: absolute;
  right: 100%;
  transform: translateX(100%);
}


/* ACTIVE BOOKMARK */
.bookmark-icon.active circle {
  fill: hsl(176, 72%, 28%);
}

.bookmark-icon.active path {
  fill: white;
}

.bookmark-button.active {
  color:hsl(176, 72%, 28%)
}



/* PROGRESS SECTION */

.progress p {
  font-size: .9rem;
  color: rgba(119, 119, 119,0.7);
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats-section {
  width: 33%;
}

.stats-section {
  padding-left: 30px;
  border-right: 1px solid rgba(119, 119, 119,0.3);
}

.stats-section:first-child {
  padding-left: 0;
}

.stats-section:last-child {
  border-right: none;
}

.mobile-border {
  display: none;
}

.stats-section h2 {
  font-size: 1.4em;
  margin-bottom: 5px;
}


.progress-bar {
  width: 100%;
  height: 12px;
  margin-top: 20px;
  background-color: rgba(119, 119, 119,0.1);
  border-radius: 100px;

  position: relative;
  overflow: hidden;
}

.loader {
  position: absolute;
  height: 12px;
  background-color: hsl(176, 50%, 47%);
  width: 89.914%; /* 89,914 / 100,000 */
}



/* ABOUT SECTION */
.about {
  border: 1px solid purple;
}

.about h3 {
  font-size: 1em;
}

.about p {
  font-size: .9rem;
  line-height: 1.5;
  color: rgba(119, 119, 119,0.7);
  margin: 25px 0;
}

.pledge-container {
  display: flex;
  flex-direction: column;
}

.pledge {
  width: 100%;
  margin: 10px 0;
  padding: 15px;

  border: 1px solid red;
  border-radius: 5px;
}

.pledge-req {
  float: right;
  color: hsl(176, 50%, 47%);
  font-size: .85em;
}

.pledge-bottom {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.left-text {
  font-size: .7rem;
  color: rgba(119, 119, 119,0.7);
  font-weight: normal;

  position: relative;
  bottom: 5px;
}

.reward-button {
  height: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: hsl(176, 50%, 47%);
  color: white;
  font-weight: 700;
  font-size: .75em;
}

.reward-button:focus {
  outline: none;
}

/* Sold out */
.pledge.sold-out {
  opacity: 0.4;
}

.reward-button.sold-out {
  background-color: grey;
}



/* SELCTION MODAL */
.selection-modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(122, 122, 122, 0.4);
  z-index: 1;
}

.main-container {
  width: 575px;
  margin: 0 auto;

  position: relative;
  top: -75px;

  display: flex;
  flex-direction: column;
}

.content-box {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 33px;
}


.selection-form {
  width: 575px;
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50%);
  background-color: white;
}

.reward-box {
  height: 100px;

  margin: 0 auto;
  border: 1px solid red;
}


@media only screen and (min-width: 1400px) {
  .banner {
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: 450px;
  }

  .content-box {
    padding: 15px;
  }
}


/* FOR HOVER STATES */
@media only screen and (min-width: 500px) {
  .menu-button:hover {
    cursor: pointer;
  }

  .title-button:hover {
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
    z-index: 1;
  }

  .bookmark-button:hover {
    cursor: pointer;
  }

  .bookmark-icon:hover, .bookmark-button:hover + .bookmark-icon {
    cursor: pointer;
    opacity: 0.6;
  }

  .reward-button:hover {
    cursor: pointer;
    background-color: hsl(176, 72%, 28%);
  }

  .reward-button.sold-out:hover {
    cursor: inherit;
    background-color: grey;
  }
}


/* MOBILE VIEWPORTS */
@media only screen and (max-width: 500px) {
  .banner {
    height: 300px;

    background-image: url("images/image-hero-mobile.jpg");
    background-position: center;
    background-size: cover;
  }

  .logo {
    font-size: 2em;
  }

  .nav-bar {
    padding: 15px 20px;
  }

  .nav-list {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .main-container {
    width: 90%;
  }

  .content-box {
    padding: 35px;
  }

  .title-text h1 {
    padding: 0 40px 10px 40px;
  }

  .bookmark-icon {
    position: relative;
  }

  .bookmark-button {
    display: none;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stats-section {
    width: 100%;
    text-align: center;
    border-right: none;
    padding: 30px 0;
  }

  .stats-section:first-child {
    padding-left: 0;
  }

  .stats-section:last-child {
    border-right: none;
    border-bottom: none;
  }

  .mobile-border {
    display: block;
    border-top: 1px solid rgba(119, 119, 119,0.3);
    width: 25%;
  }

  .stats-section h2 {
    font-size: 1.6em;
  }


  .pledge-req {
    display: block;
    float: none;
    margin-top: 5px;
  }

  .pledge-bottom {
    flex-direction: column;
  }

  .reward-button {
    margin-top: 25px;
    width: 60%;
  }
}

@media only screen and (max-width: 350px) {
  .title-button {
    padding: 10px 20px;
    font-size: .8em;
  }
}
